<!-- extender o arquivo main.html -->
{% extends "main.html" %}

<!-- importa o header -->
{% include "header.html" %}

<!-- criar um bloco de conteudo -->
{% block content %}

<!-- cover here -->
<div class="container-fluid ">
	<div class="jumbotron center urlimg">
	</div>
</div>
<style> 
	.urlimg {
		opacity: .7;
		background-image: url({{category.img_url}}) !important;
		background-size: cover !important;
		background-size: 100%;
	}
</style>

<!-- Edit form here -->
<div class="container">
	<div class="row category">
		<div class="col-md-12 center">
			<h1> Edit {{item.name}} </h1>
		</div>
		<div class="col-md-12 form">
			<form method="POST" action="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">
				<div class="form-group">
					<label> Game Title </label> 
					<input type="text"  name="editItem" placeholder="Game Title" class="form-control"><br>
					<label> Description </label> 
					<input type="text"  name="editDescription" placeholder="Description" class="form-control"><br>
					<label> Cover image URL </label> 
					<input type="text"  name="imgurl" placeholder="Cover img URL" class="form-control"><br>
				    <label for="category">Categoria</label>
				    <select name="comp_select" class="selectpicker form-control">
              			{% for c in data %}
              				<option value="{{ c.cat }}">{{ c.name }}</option>
              			}
              			{% endfor %}
           	 		</select>
				    <br><br>
				    <div class="center">
					 <button type="submit" class="btn center">Edit</button>&nbsp;
					 <a href="{{url_for('items', category_id=category.id)}}" class="btn active center" role="button" aria-pressed="true">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}