<!-- extender o arquivo main.html -->
{% extends "main.html" %}

<!-- importa o header -->
{% include "header.html" %}

<!-- criar um bloco de conteudo -->
{% block content %}
<div class="jumbotron">
	<div class="h1"> New category </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="{{url_for('newCategory')}}">
				<label> Input a new category: </label>
				<input type="text"  name="newCategory" placeholder="New Category"><br>
				<input type="text"  name="urlimg" placeholder="Cover image URL"><br>
				<input type="submit" value="Add">
			</form>
		</div>
	</div>
</div>
{% endblock%}